*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f2f6fb;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}

.card{

    width:420px;

    background:#fff;

    border-radius:15px;

    padding:35px;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

}

.success{

    width:90px;

    height:90px;

    background:#28a745;

    color:#fff;

    font-size:45px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    margin-bottom:20px;

}

h1{

    text-align:center;

    color:#28a745;

    margin-bottom:10px;

}

.subtitle{

    text-align:center;

    color:#777;

    margin-bottom:30px;

}

.details{

    border-top:1px solid #eee;

    border-bottom:1px solid #eee;

    padding:15px 0;

}

.row{

    display:flex;

    justify-content:space-between;

    padding:12px 0;

    border-bottom:1px solid #f2f2f2;

}

.row:last-child{

    border-bottom:none;

}

.row span{

    color:#666;

}

.row strong{

    color:#222;

}

.connected{

    color:#28a745;

}

#remainingTime{

    color:#0d6efd;

    font-size:20px;

}

button{

    width:100%;

    margin-top:30px;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#0d6efd;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#0b5ed7;

}

@media(max-width:500px){

    .card{

        width:100%;

    }

}